<!-- TODO: This is debug info; go delete it --> 
<% session.each do |key, value| %>
  <%= "Key: #{key}, Value: #{value} "%><br/>
<% end %>

<p>In order to complete the OAuth2 process succesfully,RESPONSE_TYPE, CLIENT_ID and REDIRECT_URI should be provided</p>